@{
    ViewBag.Title = "Home";
    
}

@section JavaScriptAndCSS
{
        <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap-theme.min.css">
        <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
}
<div>
    <h2>Home Index</h2>
    <input type="submit" class="itemSubmit" value="Click Me"/>
    
    <p>P1</p>
    <p id="hiddenpara">P2</p>
    <p>P1</p>
    <p>P1</p>
    <p>P1</p>
    <p>P1</p>
    <p>P1</p>
    <p>P1</p>

</div>
